/* layout */
#header { background: url(../img/banner.jpg) no-repeat center top; background-size: cover;}
#contents .container {border-right: 1px solid #000; border-left: 1px solid #000;}
#cont-left { width: 250px; float: left;}
#cont-center {overflow: hidden; margin-right: 250px; border-right: 1px solid #000; border-left: 1px solid #000;}
#cont-right {width: 250px; position: absolute; right: 0; top: 0;}
#footer { width: 100%; height: 200px; border-top: 1px solid #000}

/* ir */
.ir {position: absolute; left: -30000px;}

/* clearfix */
.clearfix:after { content: ''; display: table; clear: both }


/* container */
.container{ position: relative;width:1200px; margin: 0 auto; /*background: rgba(0,0,0,0.3);*/}

/* quick */
.quick {text-align: right;}
.quick a {display: inline-block; color: #000; padding: 5px 0 5px 10px;
transition: all 0.5s ease; text-decoration: none;}
.quick a:hover { color: #ccc;}

/* title */
.title {text-align: center; text-transform: uppercase; padding-top: 75px;}
.title p {display: inline; font-size: 24px; color: #fff; padding: 10px 20px;}
/* .title h1 a {display: inline-block; color: #fff; background-color: #4a9abf; padding: 10px 20px; font-size: 14px;} */

/* icon-font */
.icon-font {text-align: center; margin-top: 40px; padding-bottom: 40px;}
.icon-font li {position: relative; display: inline;}
.icon-font li a {display: inline-block; color: #fff; font-size: 35px; margin: 0 10px;}
.icon-font li a .tool{opacity: 0; font-size: 12px; position: absolute; left: 50%; top: -50px; background-color: #3192bf; padding: 4px 10px; transform: translateX(-50%); border-radius: 6px 0; transition: all 0.3s ease-in-out}
.icon-font li a:hover .tool {opacity: 1; top: -40px;}
.icon-font li a .tool:before{content: ""; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); border-top: 5px solid #3192bf;border-left: 5px solid transparent; border-right: 5px solid transparent;}

/* cbox */
.cbox {padding: 15px; border-bottom: 1px solid #000; }
.cbox .cbox-title { font-size: 20px; color: #2f7fa6; }
.cbox .cbox-desc { border-bottom: 1px dashed #000; padding-bottom: 15px; margin-bottom: 15px; color:#878787;}
.cbox.column1 {}
.cbox.column2 {}
.cbox.column3 {}
.cbox.column4 {}
.cbox.column5 {}
.cbox.column6 {}
.cbox.column7 {}
.cbox.column8 {}
.cbox.column9 {}

#cont-left article:nth-child(4){border-bottom: 0;}
#cont-center article:nth-child(4){border-bottom: 0;}
#cont-right article:nth-child(4){border-bottom: 0;}

/* menu */
.menu li {position: relative;}
.menu li a {font-size: 16px; text-transform: uppercase; color: #878787; border-bottom: 1px solid #dbdbdb; display: block; text-decoration: none; transition: all .3s ease;}
.menu li a:hover{color: #333}
.menu li a i {position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}

/* notice */
.notice { position: relative; margin-bottom: 10px;}
.notice:last-child { margin: 0; }
.notice h5 { font-size: 14px; color: #2f7fa6}
.notice li { position: relative; padding-left: 8px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice li::before{ content: ''; width: 3px; height: 3px; background-color: #449ce2; position: absolute; left: 0; top: 50%; transform: translateY(-50%); border-radius: 50%;}
.notice .more { position: absolute; right: 0; top: 0; text-transform: uppercase; font-size: 9px;}
.notice .more { color: #878787 }

/* blog */
.blog {}
.blog h5 { font-size: 14px; color: #2f7fa6; padding-bottom: 3px; }
.blog .blog-img { position: relative; display: block; color: #fff; margin-bottom: 3px; }
.blog .blog-img::after { transition: background 0.3s ease-in-out; content: ""; position: absolute; left: 0; top: 0; display: block; background: rgb(0,0,0,0); width: 100%; height: 100%; z-index: 50;}
.blog .blog-img:hover::after { background: rgb(0,0,0,0.4) }
.blog .blog-img:hover em { opacity: 1;}
.blog .blog-img img { display: block;; }
.blog .blog-img em { transition: opacity 0.3s ease-in-out;  opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 100;}

/* blog2 */
.blog2 h5 { font-size: 14px; color: #2f7fa6; padding-bottom: 3px; }
.blog2 .blog-img { overflow: hidden; position: relative; display: block; color: #fff; }
.blog2 .blog-img::after{ transition: background-color 0.3s ease-in-out;  content: ""; z-index: 50; width: 100%; height: 100%; display: block; background-color: rgba(0,0,0,0); position: absolute; left: 0; top: 0;}
.blog2 .blog-img:hover::after{ background-color: rgba(0,0,0,0.4); }
.blog2 .blog-img img { display: block; transform: scale(1, 1); transition: transform 0.3s ease-in-out; }
.blog2 .blog-img:hover img { transform: scale(1.5, 1.5); }
.blog2 .blog-img em { font-size: 0;  opacity: 0; transition: all 0.3s ease-in-out; z-index: 100; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.blog2 .blog-img:hover em { opacity: 1; font-size: 16px; }

/* square */
.square a { float: left; width: 19%; margin: 0.5%; }
.square a img { display: block;}

/* Video */
.video { width: 100%; max-width: 900px; margin: 30px auto; padding: 40px; box-sizing: border-box; }
.video .video-container { position: relative;width: 100%;height: auto;padding-top: 50%; }
.video .iframe { z-index: 1;  top: 0;left: 0;position: absolute;width: 100%;height: 100%; }

/* rotate */
.rotate { position: relative;}
.rotate a { display: block; text-align: center; color: #fff; perspective: 600px;}
.rotate a .front { transform: rotateX(0deg) rotateY(0deg); transition: all 0.5s ease-in-out; backface-visibility: hidden;}
.rotate a .back { background-color: #0093bd; width: 100%; height: 100%; position: absolute; top: 0; z-index: -1; transform: rotateX(0deg) rotateY(-180deg); transition: all 0.5s ease-in-out; backface-visibility: hidden; }
.rotate a:hover .front { transform: rotateX(0deg) rotateY(180deg);}
.rotate a:hover .back { transform: rotateX(0deg) rotateY(0deg); z-index: 1;}

/* rotate2 */
.rotate2 { position: relative; perspective: 500px;}
.rotate2 img { display: block;}
.rotate2:after { transition: all 0.3s ease-in-out; opacity: 0; transform: rotateX(90deg); content: ''; background-color: rgba(255,255,255,0.8); position: absolute; top: 7%; bottom: 7%; left: 10%; right: 10%; display: inline-block;}
.rotate2:hover:after { transform: rotateX(0deg); opacity: 1; }

/* footer */
.footer { text-align: center; padding: 30px 50px;}
.footer li { white-space: nowrap; position: relative; display: inline; padding: 0 7px; }
.footer li:before { content: ''; width: 1px; height: 10px; background-color: #dbdbdb; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.footer li:first-child:before { width: 0;}
.footer address { padding: 15px;}

/* mediaquery */
@media (max-width: 1280px) {
  .container{width: 100%;}
  .row{padding: 0 10px;}
  #contents .container {border: 0;}
}


@media (max-width: 960px) {
  #cont-right {position: static; width: 100%; border-top: 1px solid #000;}
  #cont-center {margin-right: 0; border-right: 0;}
  .square a { width: 24%; }
  .square a:nth-child(5n) { display: none; }

  #cont-right { overflow: hidden; }
  #cont-right .cbox { float: left; width: 33.33333%; box-sizing: border-box;}
  #cont-right .cbox.column7 { border-right: 1px solid #000; }
  #cont-right .cbox.column8 { border-right: 1px solid #000; }
  #cont-right .cbox.column9 { border-right: 1px solid transparent; border-bottom: 1px solid #000;}
}

@media (max-width: 768px) {
  .square a { width: 32.333333%;}
  .square a:nth-child(5) { display: block;}
}

@media (max-width: 600px) {
  .title, .icon-font, .nav, .tit .btn{display: none;}
  #cont-left{float: none; width: 100%;}
  #cont-center{border-left: 0; border-top: 1px solid #000;}
  .cbox.column1 {padding: 0}
  .cbox.column1 .cbox-title {display: none;}
  .cbox.column1 .cbox-desc {display: none;}
  .cbox.column1 .menu li a i {display: none;}
  .cbox.column1 .menu ul {overflow: hidden;}
  .cbox.column1 .menu li {text-align: center;float: left; width: 33.33333%; border-right: 1px solid #dbdbdb; box-sizing: border-box;}
  .cbox.column1 .menu li:nth-child(3n){border-right: 0;}
  .cbox.column1 .menu li a {text-shadow: 0 0 5px rgba(0,0,0,0.5)}
  .square a { width: 49%; }
  .square a:nth-child(5) { display: none; }
  #cont-right .cbox { width: 50%;}
  #cont-right .cbox.column7 { border-right: 1px solid #000; }
  #cont-right .cbox.column8 { border-right: 1px solid transparent; }
  #cont-right .cbox.column9 { display: none; }
}

@media (max-width: 320px) {
  .square a{width: 98%; margin: 1%;}
  #cont-right .cbox { width: 100%;}
  #cont-right .cbox.column7 { border-right: 0px }
  #cont-right .cbox.column8 { border-right: 0px }
}
