/* 왼쪽 사이드 */
.adminMenu li { margin: 15px; position: relative; cursor: pointer; font-size: 20px; }
.adminMenu li a { display:block; width: 100%; }
.adminMenu li a:visited { color: #878787; }
.adminMenu li a:hover { color: #000; }
.adminMenu li a i { position: absolute; right: 0; }


