/* 모달 공통 */
.modal { display: none; }
.modal_cancell_ground { background-color: rgba(0,0,0,.65); position: fixed; ; z-index: 55; top: 0; bottom: 0; left: 0; right: 0; }
.modal_background { position: absolute; border: 1px solid white; border-radius: 6px; box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0), .30975); background-color: white; z-index: 80; left: 50%; transform: translate(-50%, -50%);}
.modal_size { width: 400px;}

/* 로그인 폼 */
.loginFormInput { display: block; margin: 3px auto; width: 250px; height: 20px; padding: 9px 8px 7px 8px; background: #fafafa !important; border-radius: 3px; border: 1px solid rgb(219,219,219);}
.loginFormButton { cursor: pointer; display: block; margin: 4px auto; outline: 0; width: 270px; padding: 5px 9px; border: none; border-radius: 4px;}
.modal_text { margin-left: 10px; margin-top: 10px; }