<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout1</title>

    <!-- style -->
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../assets/css/lightgallery.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../assets/css/owl.transitions.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script></script>
    <script src="https://kit.fontawesome.com/ff5ee53d46.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../assets/js/html5shiv.min.js"></script>

    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">

  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="title">
            <p>로스트 아크 커뮤니티</p>
            <!-- <h1><a href="#">깃허브</a></h1> -->
          </div>
          <!-- title -->
          <div class="icon-font">
            <ul>
              <li><a href="#">
                <i class="fab fa-github"></i>
                <span class="tool">github</span>
              </a></li>
              <li><a href="#">
                <i class="fab fa-instagram"></i>
                <span class="tool">instagram</span>
              </a></li>
              <li><a href="#">
                <i class="fab fa-facebook-square"></i>
                <span class="tool">facebook</span>
              </a></li>
              <li><a href="#">
                <i class="far fa-envelope"></i>
                <span class="tool">email</span>
              </a></li>
            </ul>
            <!-- icon-font -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </header>

    <section id="contents">
      <h2 class="ir">반응형 사이트 컨텐츠</h2>
      <div class="container">
        <section id="cont-left">
          <h3 class="ir">cont-left</h3>
          <article class="cbox column1">
            <h4 class="cbox-title">직업 게시판</h4>
            <p class="cbox-desc">직업별 정보 공유</p>
            <div class="menu">
              <ul>
                <li><a href="#">바드<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="#">서머너<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="#">아르카나<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="#">데빌헌터<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="#">워로드<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="#">홀리나이트<i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </div>
            <!--menu-->
          </article>
          <!-- column1 -->
          <article class="cbox column2">
            <h4 class="cbox-title">커뮤니티 게시판</h4>
            <p class="cbox-desc">자유로운 소통 공간</p>

            <div class="notice">
              <h5>자유 게시판</h5>
              <ul>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
              </ul>
              <span class="more"><a href="#">more <i class="fas fa-arrow-alt-circle-right"></i></a></span>
            </div>
            <!-- notice  -->

            <div class="notice">
              <h5>이미지 게시판</h5>
              <ul>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
                <li><a href="#">백엔드와 관련된 정보 공유 및 교육 정보 공유</a></li>
              </ul>
              <span class="more"><a href="#">more <i class="fas fa-arrow-alt-circle-right"></i></a></span>
            </div>
            <!-- notice  -->
          </article>
          <!-- column2 -->
          <article class="cbox column3">
            <h4 class="cbox-title">관련 사이트</h4>
            <p class="cbox-desc">관련 사이트 링크입니다</p>

            <div class="blog">
              <h5>Figure</h5>
              <figure>
                <a href="#" class="blog-img">
                  <img src="../../assets/img/inven.png" alt="">
                  <em>Inven</em>
                </a>
              </figure>

            </div>
            <!-- Blog -->

            <div class="blog2">
              <h5>Figure</h5>
              <figure>
                <a href="#" class="blog-img">
                  <img src="../../assets/img/lostark.jpg" alt="">
                  <em>lost ark</em>
                </a>
              </figure>

            </div>
            <!-- Blog2 -->
          </article>
          <!-- column3 -->
        </section>
        <!-- cont-left -->

        <section id="cont-center">
          <h3 class="ir">cont-center</h3>
          <article class="cbox column4">
            <h4 class="cbox-title">이벤트</h4>
            <p class="cbox-desc">현재 진행 중인 이벤트입니다.</p>
            <div class="gallery ">
              <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item"><img src="../../assets/img/img1.jpg" alt="The Last of us"></div>
                <div class="item"><img src="../../assets/img/img2.jpg" alt="GTA V"></div>
              </div>
            </div>
            <!-- Gallery -->
          </article>
          <!-- column4 -->
          <article class="cbox column5">
            <h4 class="cbox-title">이미지 게시판</h4>
            <p class="cbox-desc">로스트 아크관련 이미지를 공유해보세요</p>
            <div class="square clearfix" id="lightgallery">
              <a href="../../assets/img/img1.jpg"><img src="../../assets/img/img1.jpg" alt=""></a>
              <a href="../../assets/img/img2.jpg"><img src="../../assets/img/img2.jpg" alt=""></a>
              <a href="../../assets/img/img3.jpg"><img src="../../assets/img/img3.jpg" alt=""></a>
              <a href="../../assets/img/img4.jpg"><img src="../../assets/img/img4.jpg" alt=""></a>
              <a href="../../assets/img/img2.jpg"><img src="../../assets/img/img2.jpg" alt=""></a>
              <a href="../../assets/img/img1.jpg"><img src="../../assets/img/img1.jpg" alt=""></a>
              <a href="../../assets/img/img2.jpg"><img src="../../assets/img/img2.jpg" alt=""></a>
              <a href="../../assets/img/img3.jpg"><img src="../../assets/img/img3.jpg" alt=""></a>
              <a href="../../assets/img/img4.jpg"><img src="../../assets/img/img4.jpg" alt=""></a>
              <a href="../../assets/img/img2.jpg"><img src="../../assets/img/img2.jpg" alt=""></a>
            </div>

            <!-- Square -->
          </article>
          <!-- column5 -->
          <article class="cbox column6">
            <h4 class="cbox-title">Video</h4>
            <p class="cbox-desc">추천 유튜브</p>
            <div class="video">
              <!-- <video controls="controls" autoplay="autoplay" loop="loop">
                <source src="../../assets/video/video.mp4" type="video/mp4">
              </video> -->
              <div class="video-container">
                <iframe class="iframe" src="https://www.youtube.com/embed/8WaNj-QAQa0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <!-- video -->
          </article>
          <!-- column6 -->
        </section>
        <!-- cont-center -->

        <section id="cont-right">
          <h3 class="ir">cont-right</h3>
          <article class="cbox column7">
            <h4 class="cbox-title">광고 1</h4>
            <p class="cbox-desc">웹 백엔드와 관련된 정보 공유</p>
            <figure class="img1 rotate">
              <a href="#">
                <div class="front">
                  <img src="../../assets/img/img1.jpg" alt="">
                </div>
                <div class="back">
                  <figcaption><i class="fas fa-heart fa-5x"></i>이미지에 대한 설명</figcaption>
                </div>
              </a>

            </figure>
            <!-- img1  -->
          </article>
          <!-- column7 -->
          <article class="cbox column8">
            <h4 class="cbox-title">광고 2</h4>
            <p class="cbox-desc">웹 백엔드와 관련된 정보 공유</p>

            <figure class="img2 rotate2">
              <img src="../../assets/img/img1.jpg" alt="">
            </figure>
            <!-- img2 -->
          </article>
          <!-- column8 -->
        </section>
        <!-- cont-right -->
      </div>
    </section>

    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="footer">
            <ul>
              <li><a href="#">사이트 도움말</a></li>
              <li><a href="#">사이트 이용약관</a></li>
              <li><a href="#">사이트 운영원칙</a></li>
              <li><a href="#"><strong>개인정보취급방침</strong></a></li>
              <li><a href="#">책임의 한계와 법적고지</a></li>
              <li><a href="#">게시중단요청서비스</a></li>
              <li><a href="#">고객센터</a></li>
            </ul>
            <address class="">
              <em>Copyright &copy;
              <a href="#"><strong>webstoryboy</strong></a>
              All Rights Reserved.</em>
            </address>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../../assets/js/custom.js"></script>
  <script type="text/javascript" src="../../assets/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="../../assets/js/lightgallery.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("#lightgallery").lightGallery();
      });
  </script>

</html>
